#left-outer
{
	height:400px;
	float:left;
	width:25%;
}

#right-outer
{
	height:200px;
	float:right;
	width:25%;
}
#container
{
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	padding: 20px;
	width:750px;
	margin: 0 auto;
	min-height: 400px;
	overflow:hidden;
}

#container div
{
}

#heading
{
	font-size:22px;
	font-weight:600;
	float:left;
}

#loginForm, #addForm, #uploadForm

{
	clear:both;
}

#form
{
	background-color:#FFFFFF;
}
label
{  
	width: 30%;
	display:inline-block;
}
.form-item
{
	padding:10px 2px;
}
.form-item span
{
vertical-align:top;
}

.form-item .submit
{
	margin-left:25px;
}
.form-item span
{
	display:block;
	
}
.logout
{
	margin-left:600px;
	padding:5px;
	border: 1px solid #CCCCCC;
	width:130px;
	margin-top:4px;
}

.add_vid
{
	float:left;
	color:white;
	background-color:#194577;
	font-size:16px;
	font-weight:400;
	margin-left:320px;
	padding:4px;
	margin-top:5px;
	width:130px;
}

#welcome
{
	float:left;
	margin-left:20px;
}
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:fixed;
  left:0;
  top:0;
  width:520px;
  height:520px;
  display:none;
  z-index:9999;
  padding:20px;
}

#boxes #dialog {
  width:375px; 
  height:203px;
  padding:10px;
  background-color:#ffffff;
}

#boxes #dialog1 {
  width:375px; 
  height:203px;
}
#boxes .form-item img {
  border:2px solid black;
}

#dialog1 .d-header {
  background:url(images/login-header.png) no-repeat 0 0 transparent; 
  width:375px; 
  height:150px;
}

#dialog1 .d-header input {
  position:relative;
  top:60px;
  left:100px;
  border:3px solid #cccccc;
  height:22px;
  width:200px;
  font-size:15px;
  padding:5px;
  margin-top:4px;
}

#dialog1 .d-blank {
  float:left;
  background:url(images/login-blank.png) no-repeat 0 0 transparent; 
  width:267px; 
  height:53px;
}

#dialog1 .d-login {
  float:left;
  width:108px; 
  height:53px;
}

#boxes #dialog2 {
  background:url(images/notice.png) no-repeat 0 0 transparent; 
  width:326px; 
  height:229px;
  padding:50px 0 20px 25px;
}
.item-content
{
  background:#fff;
}
.desc
{
	color: #999999;
    display: block;
    font-size: 10px;
    margin-top: 3px;
}

#category_select
{
	width:150px;
}

.slideAway
{
	top: -999999;
	position: static;
}
.editvideoList
{
    display: inline-block;
    width: 400px;
    font-weight:500;
    
}

.editLInk
{
    display: inline-block;
    vertical-align: top;
    width: 100px;
    color:#194577;
}

body 
{
	margin:0;
	padding:0;
	background-position: top center;
	font-family: 'verdana';
	font-size: 14px;
}
.thumbSelection
{
	display: inline-block;
	padding: 1px;
	overflow: hidden;
	width: 146px;
	height :124px;
}
.thumbSelect input
{
	width: 146px;
}
#links
{
	margin-top: 15px;
	padding: 10px;
	height:	200px;
}
#thumbAdded img
{
	border: 2px solid;
}
.list-item
{
	margin-left:20px;
	border-collapse:collapse;
	border:solid 1px gray;
	padding:4px;
	
}
.edit_title
{
	padding: 20px;
	width: 700px;
}
.thumbEdit
{
    background-color: #000000;
	color: #FFFFFF;
    left: 140px;
    position: absolute;
    top: 50px;
	width: 125px;
	display:none;
}
#tweetBar span
{
	vertical-align: middle;
}
ul.menu 
{
	list-style:none; 
	margin:0; 
	padding:0;
}
ul.menu * 
{
	margin:0; 
	padding:0;
}
ul.menu a 
{
	display:block; 
	text-decoration:none;
}
ul.menu li 
{
	position:relative; 
	float:left; 
	margin-right:2px;
}
ul.menu ul 
{
	position:absolute; 
	left: -5px; 
	width: 139px; 
	top:26px; 
	background:#194577; 
	display:none; 
	opacity:0; 
	list-style:none;
}
ul.menu ul li 
{
	position:relative; 
	border:1px solid #aaa; 
	border-top:none; 
	width: 139px; 
	margin:0;
}
ul.menu ul li a 
{	
	display:block; 
	padding:3px 7px 5px; 
	background-color:#194577;
}
ul.menu ul li a:hover 
{
	color:#000000;
	font-weight:600;
}
ul.menu ul ul 
{
	left:148px; 
	top:-1px;
}
ul.menu .topline 
{
	border-top:1px solid #aaa;
}