				</div>

				<div class="clear"></div>
		</div>
		
	</div>

	<div style="clear:both;"></div>

	<div id="footer">
		<a href="#">UNILIFE HOME</a>
		<span style="margin-right:18px;">-</span>
		<a class="lightSwitcher" href="#!">CONTACT US</a>
		<span>&#169;2005-2011 UNILIFE CORPORATION. ALL RIGHTS RESERVED</span>
	</div>

</div>


<div id="right-side-outer">
<div id="right-side">
</div>
</div>

<div id="shadow">

<div id="contactWrapper">
	<div id="contact">
				
				<div id="contactCloseDiv">
				<div id="contactClose"></div>
				</div>
				
				<div id="contactLeft">
					<div id="contactHed">CONTACT US</div>
					
					<div id="contactInput">
						<input type="text" class="name" value="First Name" onFocus="clearText(this)" onBlur="checkText(this)" />
						<input type="text" class="name" value="Last Name" onFocus="clearText(this)" onBlur="checkText(this)" />
						<input type="text" class="name" value="Email" onFocus="clearText(this)" onBlur="checkText(this)" />
						<input type="text" class="name" value="Phone (optional)" maxlength="10" onFocus="clearText(this)" onBlur="checkText(this)" />
						<textarea onFocus="clearText(this)" onBlur="checkText(this)" id="comment">Enter Message</textarea>
					</div>
					
					<div id="submitButtons">
						<a id="send">SEND</a>
						<a id="cancel">CANCEL</a>
					</div>
					
				</div>
				
				<div id="contactRight">
				
				<div id="rightInfo">
					<h2>United States</h2>
					
					<div class="labelFloat">
					<span>Phone<br />Email<br />Fax</span> 
					</div>
					
					<div class="labelFloat">
					717 384 3400 / 800 324 7674<br /><a href="mailto:info@unilife.com">info@unilife.com</a><br />717 384 3401
					</div>
					
					<div class="clear"></div>
					
					<p><span>Address</span><br />250 Cross Farm Lane<br />York, PA 17406<br />United States of America</p>
					
					<p><span>Customer Service</span><br />Toll-free in US: 1-888-698-1133<br /><a href="mailto:customer.service@unilife.com">customer.service@unilife.com</a></p>
					
					<p><span>Shareholder / Analyst Enquiries US</span><br />Stuart Fine +1 908-469-1788</p>
					
					<h2>Australia</h2>
					
					<div class="labelFloat">
					<span>Phone<br />Email<br />Fax</span> 
					</div>
					
					<div class="labelFloat" style="margin-bottom:25px;">
					+612 8346 6500<br /><a href="mailto:info@unilife.com">info@unilife.com</a><br />+612 8346 6511
					</div>
					
					<div class="clear"></div>
					
					<div class="labelFloat" style="margin-right:40px;">
						<span>Street Address</span><br />Suit 3, Level 11,<br />1 Chifley Square,<br />Sydney 2000 NSW<br />Australia
					</div>
					
					<div class="labelFloat">
						<span>Postal Address</span><br />GPO Box 3400<br />Sydney 2001<br />NSW Australia
					</div>
					
					<div class="clear"></div>
					
					<p><span>Shareholder / Analyst Enquiries</span><br />Jeff Carter +61 2 8346 6500</p>
					
				</div>
				</div>
			
				<div class="clear"></div>
			
				<div id="contactTabDiv">
				<div id="contactTab">CONTACT US</div>
				</div>
				
	</div>
</div>
</div>

<div id="share">

	<div id="shareCloseDiv">
		<div id="shareClose"></div>
	</div>	
		<div id="shareHed">SHARE THIS VIDEO</div>
		
		<div class="shareVid">
							
			<div class="vidThumb">
			<div class="vidThumb">
				<img src="<?php echo base_url()?>images/test_vid_thumb.jpg" />
				<a href="#"></a>
				<div class="thumbOverlay"></div>
			</div>
			</div>
							
			<div class="vidText">
				<div class="filter">MOST RECENT</div>
				<div class="title">Safety Syringe Technology</div>
				<div class="caption">Lorem ipsum dolor sit amet, consectetur adip sicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
				<div class="watch"><a href="#">WATCH VIDEO</a></div>
			</div>
							
		</div>			
		
		<div id="shareInput">
			<input type="text" class="name" value="Your Name" onFocus="clearText(this)" onBlur="checkText(this)" />
			<input type="text" class="name" value="Recipient's Name" onFocus="clearText(this)" onBlur="checkText(this)" />
			<input type="text" class="name" value="Your Email" onFocus="clearText(this)" onBlur="checkText(this)" />
			<input type="text" class="name" value="Recipient's Email" maxlength="10" onFocus="clearText(this)" onBlur="checkText(this)" />
			
			<div style="clear:both;"></div>
			
			<textarea onFocus="clearText(this)" onBlur="checkText(this)" id="comment">Enter Message</textarea>
		</div>

		<div id="submitButtons" style="margin-top:24px;">
			<a id="send">SEND</a>
			<a id="cancel">CANCEL</a>
		</div>		
		
	</div>

</div>



</body>
</html>